<?php
// Bot key, see https://core.telegram.org/bots#6-botfather
$telegrambot='0000000000:XXXXXXXXX-XXXXXXXXXXXXXXXXXXXX-XXXX';
// create a group chat with your bot and get the group id from the updates
// the bot will talk exclusively to this group
// groups are negative numbers
$telegramchatid=-000000000;
// get your userid from the updates.
// the bot will mark you when the target price is reached
$userid=000000000;

// if using discord (because telegram was banned in your country)
$usediscord=false; // set to true to use discord instead of telegram
// get the webhook url from your discord server.
$webhookurl=''


// target to watch
$watch_values = array(
    array("BTC", "USDT", 64000.00),
    array("BTC", "USDT", 60000.00),
    array("BTC", "USDT", 55000.00),
    array("BTC", "USDT", 50000.00)
);

// other tickers to watch, those will be reporter every $sleep_time seconds
// disable notifications for the group so you only get notified when
// the target is reached
$list_tickers = array(
    array("BTC","USDT"), 
    array("BTC","BRL"), 
    array("DCR","BTC")
);
// Changes less than +or- (old-price * tickers_min_change_percent) are not reported.
$tickers_delta = 0.01;

// time between updates. will poll binance API every $sleep_time seconds and report
$sleep_time = 10;
?>